<div class="container-fluid mt-5"
  style="display: flex;align-items: baseline;justify-content: flex-start;flex-direction: column;">
  <!-- <a class="navbar-brand" href="#" style="font-size: 3rem;">XMeme</a> -->

  <div class="d-flex">
    <a class="open-create nav-link badge" href="#"
      style="background: -webkit-linear-gradient(45deg, #ff5894, #8441A4 80%);color: white;font-size: 20px;">
      Create New
    </a>
    <ion-icon class="theme-changer" name="bulb-outline" title="Change Theme" tabindex="0"></ion-icon>
  </div>
</div>